.admin-logo {
	width: 200px;
}

.sidebar-brand {
	padding: 0 !important;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-description {
	width: 150px;
	display: inline-block;
}

.article-fulltext {
	width: 150px;
	display: inline-block;
}

.small-thumb {
	width: 50px;
	height: 50px;
	margin-bottom: 0px;
}

#thumbnail {
	margin-bottom: 20px;
}

.menu-preview {
	padding-left: 10px;
}

.menu-preview li {
	border-bottom: 1px dashed lightgray;
	padding: 3px 0;
}

.formcl {
	margin-top: -15px;
}

#image {
	margin-bottom: 20px;
}

#sidebar .ubrium-logo{
	background-color: #f9fafc;
}
