{% extends "Master/Master.twig" %}

{% block title %}Edit profile{% endblock %}


{% block head %}

{% endblock %}


{% block content %}

	<div class="container">
		<div class="dashboard-content">
			<form class="form-inline">
				<h1>Edit Profile</h1>
			</form>

			<hr>

			{% include 'Users/Partials/UserForm.twig' %}
			{% include 'Users/Partials/UserPasswordForm.twig' %}
			{% include 'Users/Partials/UserEmailForm.twig' %}

			<a class="btn btn-danger confirm" href="{{ Router.Create("delete-user") }}">Delete Profile</a>
		</div>

	</div>

{% endblock %}

{% block footer_scripts %}
	<script src="Theme/js/jquery.confirm.min.js"></script>
	<script type="text/javascript">
		$(".confirm").confirm({
			confirmButtonClass: "btn-danger"
		});
	</script>
{% endblock %}