{% block content %}
	<div class="col-md-12 content-options">
		<div class="form-holder">
			<form class="form-horizontal" method="post" enctype="multipart/form-data">
				<div class="row" style="margin-bottom: 15px !important;">
					<div class="col-md-6">

						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" name="username"
								   value="{{ (model.User.Username != null) ? model.User.Username : '' }}"
								   placeholder="Enter Username" required>
						</div>

						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" name="name"
								   value="{{ (model.User.Name != null) ? model.User.Name : '' }}"
								   placeholder="Enter Your Name" required>
						</div>

						<div class="form-group">
							<label for="image">Image</label>
							<input type="file" class="form-control" id="image" name="image"
								   placeholder="Insert Image">
						</div>

						<div class="form-group" style="text-align: center; margin-top: 35px !important;">
							<button type="submit" class="btn btn-default save-btn">Save</button>
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}